* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: antiquewhite;
}

/* main box*/
.maincontainer {
  display: flex;
  align-items: center;

  height: 100%;
  /* flex-wrap: wrap; */
}

/* left hero*/
.hero1 {
  margin: 0.5rem;
  height: 95%;
  flex: 1;
  background: aqua;
  padding: 1rem 2.5rem;
  border-radius: 1%;
  border-radius: 0 20px 20px 0;
}
.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.input-group input {
  background-color: #f8f8f8;
  text-transform: capitalize;
  padding: 1rem;
  /* height: 4rem; */
  font-size: 1rem;
  border-radius: 6px;
  width: 100%;
  outline: none;
  border: none;
}
.input-group .converter {
  position: absolute;
  right: 3rem;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.input-group i {
  position: absolute;
  right: 15px;
  color: #909090;
  cursor: pointer;
  font-size: 22px;
}

/* weather icorn*/
.weather-icon {
  display: flex;
  justify-content: center;
}
.weather-icon img {
  height: 150px;
}
.hero2 {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}
.this-week {
  background-color: #909090;
  flex: 2;
  /* height: 100%; */
}
.today-highlight {
  flex: 3;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.f-1,
.f-2 {
  display: flex;
  flex: 1;

  flex-wrap: wrap;
}
.highlight-card {
  flex: 1;
  /* border: 1px solid blue; */
  margin: 20px;
  border-radius: 20px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  padding: 10px;
}
.hero2 h2 {
  font-weight: 700;
  padding: 0px 0px 20px 30px;
  font-size: 30px;
}
.hero2 i {
  font-size: 33px;
}
.highlight-card span {
  margin-left: 10px;
}
.temperature {
  font-size: 50px;
  font-weight: 900;
}
.feelslike {
  margin: 20px 0 10px 0;
}
.weather-condition {
  margin-left: 10px;
}
.date {
  margin-top: 10px;
  margin-bottom: 20px;
}
.description {
  margin-bottom: 5px;
}
@media (max-width: 928px) {
  .maincontainer {
    flex-direction: column;
  }
  .hero1 {
    width: 100%;
  }
  .hero2 {
    width: 100%;
    padding-left: 0;
  }
  .main-status {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .highlight-card {
    flex: 1;
    /* border: 1px solid blue; */
    margin: 10px;

    gap: 20px;
    padding: 8px;
    height: 170px;
  }
}
@media (max-width: 400px) {
  .weather-icon {
    display: none;
  }
}
